WEB_PORT=3000
SERVER_PORT=3333
NEXT_PUBLIC_API_URL=http://localhost:3333
DATABASE_URL=postgres://postgres:postgres@localhost:5432/pulse_hub
REDIS_URL=redis://localhost:6379
PUPPETEER_EXECUTABLE_PATH=/usr/bin/chromium
PUPPETEER_HEADLESS=true
